<fieldset th:fragment="hormigon">

    <legend>Información de homigón/mortero</legend>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name-2">Tipo de Hormigón/Mortero</label>
                <input id="name-2" readonly name="name" th:field="*{hormigon.tipo}" type="text" class="form-control-plaintext ">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name-2">Ficha Técnica de Referencia</label>
                <input id="name-2" readonly name="name" th:field="*{hormigon.referencia}" type="text" class="form-control-plaintext ">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name-2">Relación de agua/cemento</label>
                <input id="name-2" readonly name="name" th:field="*{hormigon.relacion}" type="text" class="form-control-plaintext ">
            </div>
        </div>
    </div>
    <div class="row">
        <fieldset id="fielset-accordion-hormigon" th:insert="fragments/contenido-hormigon::contenido-hormigon"></fieldset>
      </div>
</fieldset>