<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Abarán Digital</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/jquery-steps/jquery.steps.css} "/>
    
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/jquery-steps/jquery.steps.min.js}"></script>
    <script th:src="@{assets/jquery-validate/jquery.validate.min.js}"></script>
    <!-- <script th:src="@{/webjars/npm/jsignature.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/npm/flashcanvas.js}"></script> -->
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Albarán</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col">
            <h2 class="mt-5">Hormigones Proin, S.L.</h2>

            <form id="example-advanced-form" action="submit" method="post" th:object="${albaran}">

                <h3>Cliente</h3>
                <fieldset th:insert="fragments/cliente::cliente"></fieldset>
                <h3>Transporte</h3>
                <fieldset th:insert="fragments/transporte::transporte"></fieldset>
                <h3>Hormigón</h3>
                <fieldset th:insert="fragments/hormigon::hormigon"></fieldset>
                <h3>Meteorología</h3>
                <fieldset th:insert="fragments/meteorologia::meteorologia"></fieldset>
                <h3>Meteorología</h3>
                <fieldset th:insert="fragments/firma::firma"></fieldset>

                <!-- <h3>Warning</h3>
                <fieldset>
                    <legend>You are to young</legend>
                    <p>Please go away ;-)</p>
                </fieldset> -->

                <!-- <h3>Finish</h3>
                <fieldset>
                    <legend>Terms and Conditions</legend>
                </fieldset> -->
            </form>

        </div>
    </div>
</div>



<script>
    var form = $("#example-advanced-form").show();

    form.steps({
        headerTag: "h3",
        bodyTag: "fieldset",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Allways allow previous action even if the current form is not valid!
            if (currentIndex > newIndex) {
                return true;
            }
            // Forbid next action on "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age-2").val()) < 18) {
                return false;
            }
            // Needed in some cases if the user went back (clean up)
            if (currentIndex < newIndex) {
                // To remove error styles
                form.find(".body:eq(" + newIndex + ") label.error").remove();
                form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
            }
            form.validate().settings.ignore = ":disabled,:hidden";
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Used to skip the "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
                form.steps("siguiente");
            }
            // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                form.steps("anterior");
            }
        },
        onFinishing: function (event, currentIndex) {
            form.validate().settings.ignore = ":disabled";
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            //form.submit();
        }
    }).validate({
        errorPlacement: function errorPlacement(error, element) {
            element.before(error);
        },
        rules: {
            confirm: {
                equalTo: "#password-2"
            }
        }
    });
</script>
<style>
    fieldset {
        position: relative !important;
    }
    #fielset-accordion-hormigon {
        width: 100% !important;
        padding: 1.5%;
    }
    html {
        font-family : Arial;
    }
</style>

</body>
</html>